* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: aquamarine;
}

section {
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

h1 {
text-align: center;
margin: 20px;
}



.gamearea {
border: 5px solid gray;
display: flex;
flex-direction: column;
min-height: 65vh;
min-width: 65vh;
background-color: red;
}

.answers {
display: flex;
flex-direction: column;
margin: 100px;
}

.answerbuttons {
margin: 10px;
border border-radius: 5px;
text-align: left;
padding: 5px;
}

.nextquestion {
max-width: 50px;
border-radius: 7px;
background-color: blue;
color: white;
padding: 10px;
}
