* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: aquamarine;
}

section {
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

h1 {
text-align: center;
margin: 30px;
font-size: 35px;
}

p {
font-size: 25px;
margin: 15px;
}



.gamearea {
border: 5px solid gray;
border-radius: 12px;
display: flex;
flex-direction: column;
min-height: 65vh;
min-width: 65vh;
background-color: rgb(255, 255, 255);
}

.answers {
display: flex;
flex-direction: column;
margin: 40px;
}

.answer-buttons {
margin: 10px;
border-radius: 5px;
text-align: left;
padding: 10px;
height: 50px;
width: 700px;
font-size: 20px;
}

.next-question {
height: 60px;
width: 200px;
border-radius: 7px;
background-color: blue;
color: white;
padding: 10px;
align-self: center;
font-size: 30px;
}
